body{
	background-color: #000000;
}

h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	color: green;
	
}

p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	font-weight: normal;
	text-align: justify;
	color:green;
}